@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  width: 250px;
  height: 350px;
  background-color: white;
}

.card-header {
  background-color: white;
  border: none;
}

.card-footer {
  background-color: white;
  text-align: end;
  border: none;
}
