@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-body {
  width: 250px;
  height: 350px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.card-header {
  background-color: white;
  border-color: white;
  border-top-left-radius: 6%;
  border-top-right-radius: 20px;
}

.card-footer {
  background-color: white;
  text-align: end;
  border-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.btn {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
